@import 'bootstrap';
body {
    background-color: lightgray;
}

footer {
    bottom: 0 !important;
    position: absolute;
    padding: 0,625rem;
    background-color: #313131;
    color: #ffffff;
    width: 100%;
    align-items: center;
}

footer p {
    padding-bottom: 0;
    
}

p {
    margin: auto 0;
}