{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}


<head>
    <meta charset="utf-8"/>
    <title>Meu Redirect</title>
    <meta http-equiv="refresh" content="1; URL='{{ url }}'"/>
</head>
<body>
<h1>Carregando...</h1>
</body>
</html>

{% endblock %}